<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Connexion</title>
</head>
<body>
    <header>
        <h1>Connexion</h1>
    </header>
    
    <main>
        <form action="/login" method="POST">
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Se connecter</button>
        </form>
    </main>
</body>
</html>