<html>
<body>
    <h3>Iris Species Classification</h3>
<div>
  <form action="/predict" method="POST">
    <label for="seplen">Sepal Length</label>
    <input type="number" step="0.01" id="seplen" name="seplen">
    <br>
    <label for="sepwid">Sepal Width</label>
    <input type="number" step="0.01" id="sepwid" name="sepwid">
    <br>
    <label for="petlen">Petal Length</label>
    <input type="number" step="0.01" id="petlen" name="petlen">
    <br>
    <label for="petwid">Petal Width</label>
    <input type="number" step="0.01" id="petwid" name="petwid">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>